<% provide(:title, @public_figure.name ) %>

<!-- bloc description de la personnalité -->
<div class="row" style="margin-top:20px;">
<div class="col-md-1"></div>
<div class="col-md-4">


<div class="publicfigurehead">
<% if @public_figure.picture? %>
  <div style="background: url('<%= @public_figure.picture.url%>') 50% 50% no-repeat; background-size:cover;background-position: center center;" class="publicfigurethumb"></div>
<% end %>
</div>

<div>
<h1 id="PublicFigureTitle">
<% if allowed_to? :edit_minor_personality %>
  <%= best_in_place @public_figure, :name %>
  <% else %>
  <%= @public_figure.name %>
  <% end %>
</h1>
<div class="publicfiguredescription">
<p class="figure-presentation-text"><%= @public_figure.presentation %></p>
</div>

<% if allowed_to? :delete_minor_personality %>
    <%=       link_to "Supprimer", @public_figure,
                      method: :delete,
                      data: { confirm: "Supprimer \"#{@public_figure.name}\" ?" },
                      class: "btn btn-primary btn-danger" %>
<% end %>

</div>
</div>
</div>
<!-- END bloc description de la personnalité -->

<!-- END content -->
<div class="row">
<div class="col-md-1"></div>

<div class="col-md-3">
  <h1><%= t('statements_count', count: @public_figure.statements.count) %></h1>
</div>
<div class="col-md-3">
<section class="Statements">

  <h2>LES SUJETS ACTIFS</h2><%= t('statements_count', count: @public_figure.statements.count) %>
  <% if @public_figure.statements.any? %>

      <ul class="Subjects">

        <% @public_figure.associated_subjects.each do |subject| %>

          <%= subject.title %>

            <ul>
              <% subject.get_positions_for_public_figure(@public_figure).each do |position| %>
                <%= position.title %>
              <% end %>
            </ul>

        <% end %>

      </ul>



</section>
</div>
<div class="col-md-3">Ils Débattent aussi sur les sujets</div>

<div class="col-md-1"></div>
</div>
<!-- END bloc content -->

<div class="row">
  <div class="col-md-10 col-md-offset-1">
            <% #= render partial: "statement", collection:@public_figure.statements.select { |s| s.id }, as: :statement %>

        <% if logged_in? && allowed_to?(:add_statement) %>
            <li id="new-statement">
              <%= form_for(@new_statement) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.hidden_field :public_figure_id, :value => @public_figure.id %>

                  <%= f.fields_for @new_statement.evidences.build do |e| %>
 
                     <%= e.label :url, "Lien internet ..." %>
                      <%= e.text_field :url, placeholder: "http://" %>
                      <%= e.label :file, "... ou pièce jointe" %>
                      <%= e.file_field :file, accept: 'image/jpeg,image/gif,image/png,application/pdf,audio/mpeg3,audio/x-mpeg3,video/avi,video/quicktime,audio/wav', class: 'btn btn-primary' %>
                      <%= e.label :title, "Intitulé de la preuve" %>
                      <%= e.text_field :title, placeholder: "Explicitez la référence" %>
                      <%= e.label :fact_date, "Date des faits" %>
                      <%= e.text_field :fact_date, placeholder: "jj/mm/yyyy", class: "Datepicker" %>

                  <% end %>
                  <%= label_tag "Sujet" %>
                  <%= autocomplete_field_tag 'Subject', '',
                                             autocomplete_autocomplete_subject_title_path,
                                             id_element: '#statement_subject_id',
                                             class: "Autocomplete"
                  %>
                  <%= f.hidden_field :subject_id, value: "",
                                     data: {
                                             dynamic_selectable_url: subjects_positions_path(':subject_id', format: :json),
                                             dynamic_selectable_target: '#statement_position_id'
                                     }
                                      %>

                  <%= f.label :position_id, "Position prise" %>
                  <%= f.select :position_id, {} %>
          
                  <%= f.submit "Ajouter", class: "btn btn-primary" %>

              <% end %>

            </li>
        <% end %>

  <% end %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
     
        $(".figure-presentation-text").shorten();
     
    });
</script>