<div class="container-fluid" style="width:100vw; position:relative; margin-left:-50vw;left:50%;">
<div class="row" style="background:url('<%= asset_path('intro-bg.jpg') %>');background-size:cover;background-position: center center;">
    <div style="font-color:white !important;text-align: center;vertical-align: middle;">
    <br><br><br><br><br><br>
    <h5>Bienvenue sur Débats.co</h5><br>
    <div id="white">Débats est un projet francophone et participatif, ayant pour objectif <br>
        d’offrir une synthèse ouverte, impartiale et vérifiable, des sujets clivants de notre société.</div>
    <br><br><br><br><br><br>
    </div>
</div>
</div>

### TABLE
<div class="container subjects-index col-md-8" style="margin-bottom:20px; margin-top: 20px;">

<h1>Sujets d'actualité</h1>

<table class="table">
  <tbody>

    <tr>
      <ul id="subject" style="list-style-type: none;">
          <% # render @subjects %>
        <li>

      <td>
      <% @subjects.each do |subject| %>
        <h2 class="subjects-title"><%= link_to subject.title, subject %></h2>
        <p><%= pluralize(subject.positions.count, 'positions') %>, <%= pluralize(subject.statements.count, 'prise de position') %></p>
      </td>

      <td><% subject.associated_public_figures.each do |public_figure| %>

        <div style="height:30px; width: 30px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:right; margin-right:15px;"></div> <% end %> 
      </td>

        </li>
        <% end %> 
    </ul>
    </tr>
  </tbody>
</table>
</div>


### END TABLE

<div class="col-md-4" style="text-align:right;">
  <div id="last-statements">
    <h2>Les dernières prises de positions</h2>
    <ul id="last-statements">
      <% # render @latest_statements %>
      <% @latest_statements.each do |statement| %>
          <li id="statement-<%= statement.id %>" style="margin-bottom: 20px;">
            <% if statement.public_figure.picture? %>
     <div style="height:50px; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= statement.public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
        <% end %>
            <div class="public-figure-text"><strong>
            <%= link_to statement.public_figure.name, statement.public_figure %></strong>&nbsp; s'est déclaré pour
            "<strong><%= statement.position.title %></strong>"
            dans le débat sur
            <strong><%= link_to statement.position.subject.title, statement.position.subject %></strong></div>
          </li>
      <% end %>
    </ul>
</div>
</div>
