<img src="intro-bg.jpg" alt="home image" />



<div class="subjects-index col-md-8" style="margin-bottom:20px">
<h1>Sujets d'actualité</h1>
  <% # render @subjects %>
  <% @subjects.each do |subject| %>
<div style="overflow:hidden;" class="col-md-4"><h1 class="subject-title"><%= link_to subject.title, subject %></h1>
</div>

    <div style="overflow:hidden;" class="col-md-4"> <% if subject.public_figure.picture? %>
  	 <div style="height:50px; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= subject.public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
        <% end %>
</div>
    
</div>
<% end %>


<div class="col-md-4">
<div id="last-statements">
    <h2>Les dernières prises de positions</h2>
    <ul id="last-statements">
      <% # render @latest_statements %>
      <% @latest_statements.each do |statement| %>
          <li id="statement-<%= statement.id %>" style="margin-bottom: 20px;">
            <% if statement.public_figure.picture? %>
  	 <div style="height:50px; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= statement.public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
        <% end %>
            <div class="public-figure-text"><strong>
            <%= link_to statement.public_figure.name, statement.public_figure %></strong>&nbsp; s'est déclaré pour
            "<strong><%= statement.position.title %></strong>"
            dans le débat sur
            <strong><%= link_to statement.position.subject.title, statement.position.subject %></strong></div>
          </li>
      <% end %>
    </ul>
</div>
</div>