<div class="container-fluid">
<div class="row" height="500px" style="background:url('<%= asset_path('intro-bg.jpg') %>');background-size:cover;background-position: center center;">
    <div style="height:500px;width:auto; font-color:white !important;text-align: center;vertical-align: middle;">
    <br><br><br>
    <h1>Bienvenue sur Débats.co</h1><br>
    <p>Débats est un projet francophone et participatif, ayant pour objectif d’offrir une synthèse ouverte, impartiale et vérifiable, des sujets clivants de notre société.</p>
    <br><br><br>
    </div>
</div>
</div>
<div class="subjects-index col-md-8" style="margin-bottom:20px">
  <h1>Sujets d'actualité</h1>
  <ul id="subject">
  <% # render @subjects %>
  <% @subjects.each do |subject| %>
    <li>
    <h2 class="subject-title"><%= link_to subject.title, subject %></h2>
    </li>
  <% end %>
</ul>
</div>
<div class="col-md-4">
  <div id="last-statements">
    <h2>Les dernières prises de positions</h2>
    <ul id="last-statements">
      <% # render @latest_statements %>
      <% @latest_statements.each do |statement| %>
          <li id="statement-<%= statement.id %>" style="margin-bottom: 20px;">
            <% if statement.public_figure.picture? %>
     <div style="height:50px; width: 50px; -webkit-border-radius: 50%; border-radius: 50%; background: url('<%= statement.public_figure.picture.url %>') 50% 50% no-repeat; background-size:cover; background-position: center center; float:left; margin-right:15px;"></div>
        <% end %>
            <div class="public-figure-text"><strong>
            <%= link_to statement.public_figure.name, statement.public_figure %></strong>&nbsp; s'est déclaré pour
            "<strong><%= statement.position.title %></strong>"
            dans le débat sur
            <strong><%= link_to statement.position.subject.title, statement.position.subject %></strong></div>
          </li>
      <% end %>
    </ul>
</div>
</div>
