<% provide(:title, @subject.title ) %>

<h1><%= @subject.title %></h1>

<%= image_tag @subject.picture.url, class:"subject-main-image", alt:"#{@subject.title}" if @subject.picture?  %>

<% if current_user && current_user.reputation >= MIN_REPUTATION_TO_DELETE_SUBJECT %>
<%=       link_to "Supprimer", @subject, method: :delete, data: { confirm: "Supprimer \"#{@subject.title}\" ?" }, class: "btn btn-primary btn-danger" %>
<% end %>

<p class="subject-presentation-text"><%= @subject.presentation %></p>

<h2>Problématique</h2>

<p><%= @subject.presentation %>>.</p>

<section class="Positions">

    <h2>Les positions</h2>

    <p><%= pluralize(@subject.positions.count, 'positions') %>, <%= pluralize(@subject.statements.count, 'prise de position') %>, 99 arguments</p>

    <% if @subject.positions.any? %>
        <ul class="Positions">
          <%= render @subject.positions.select { |p| p.id } %>
          <% if logged_in? %>
              <li id="new-position">
                <%= form_for(@new_position) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <%= f.hidden_field :subject_id, :value => @subject.id %>
                    <span class="PositionTitle"><%= f.text_field :title, placeholder: "Nouvelle position" %></span>
                    <span class="PositionDescription"><%= f.text_area :description, placeholder: "Description" %></span>
                    <%= f.submit "Ajouter", class: "btn btn-primary" %>
                <% end %>

              </li>
          <% end %>
        </ul>
    <% end %>

</section>