<div id="last-statements">
    <h2>Les dernières prises de positions</h2>
    <ul id="last-statements">
      <% # render @latest_statements %>
      <% @latest_statements.each do |statement| %>
          <li id="statement-<%= statement.id %>">
            <%= image_tag("public-figures/#{statement.public_figure.id}/little.png", class:"public-figure-little-image", alt:statement.public_figure.name) %>
            <strong><%= statement.public_figure.name %></strong>
            s'est déclaré pour
            "<strong><%= statement.position.title %></strong>"
            dans le débat sur
            <strong><%= statement.position.subject.title %></strong>
          </li>
      <% end %>
    </ul>
</div>