<div id="last-statements">
    <h2>Les dernières prises de positions</h2>
    <ul id="last-statements">
      <% # render @latest_statements %>
      <% @latest_statements.each do |statement| %>
          <li id="statement-<%= statement.id %>" style="margin-bottom: 10px;">
            <%= image_tag statement.public_figure.picture.url, class:"public-figure-little-image", alt:statement.public_figure.name %>
            <span class="public-figure-text"><strong><%= statement.public_figure.name %></strong>
            s'est déclaré pour
            "<strong><%= statement.position.title %></strong>"
            dans le débat sur
            <strong><%= statement.position.subject.title %></strong></span>
          </li>
      <% end %>
    </ul>
</div>